# don't display the startup message
startup_message off

autodetach on # Autodetach session on hangup rather than terminating

# Status bar
#hardstatus alwayslastline "%{=}%{kG} Screen(s): %{w}%w %=%{kG}%C%A  %D, %M/%d/%Y"
hardstatus alwayslastline '%{= kG}[ %{G}%H %{g}][%= %{= kw}%?%-Lw%?%{r}(%{W}%n*%f%t%?(%u)%?%{r})%{w}%?%+Lw%?%?%= %{g}][%{B}%Y-%m-%d %{W}%c %{g}]'

# Change the default scrollback value
defscrollback 10000		# default: 100

# Setup default windows
screen -t sh 0
screen -t im 1 finch
screen -t irc 2 irssi
screen -t torrents 3

bind k kill
bind q quit
